
*{
    background-color:rgb(3, 3, 3);
}
body{
    background-color:rgb(3, 3, 3);
}
.text{
    
    width: 60%;
    float: left;
    display: flex;
    justify-content: center;
    color: white;
}

.img{
    width: 40%;
    float: right;
}
.img img{
    width: 64%;
    float: right;

}
